.nameCols{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.dateCols{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}

form {
    max-width: 450px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
}