.root body {
  background-color: "#000000";
  opacity: 0.9;
  overflow: "hidden";
}

.card{
    min-width: 500px;
  }

  @media only screen and (max-width: 522px) {

    .card{
      min-width: 0px;
    }
    
  }