.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .messageTop{
      display: flex;
      flex-direction: column;
  }

  .messageName {
    font-weight: bold;

  }
  
  .messageImg {
    width: 32px;
    height: 32px;
    border-radius: 10%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .messageText{
      padding: 10px;
      border-radius: 10px;
      background-color: #ffd500;
      color: black;
      max-width: 300px;
  }
  
  .messageBottom{
      font-size: 10px;
      margin-top: 2px;
  }
  
  .message.own{
      align-items: flex-end;
  }
  
  .message.own .messageText{
      background-color: rgb(245, 241, 241);
      color: black;
  }

  .sendBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 30px;

  }
  input{
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 10px;

  }