.nameCols{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.dateCols{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}

form {
    max-width: 450px;
    margin: auto auto;
    display: grid;
    flex-direction: column;
    background: white;
    padding: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }